.animeDisplay {
  padding-top: 100px;
}

.animeDisplay__title h1 {
  font-weight: 500;
  font-size: 4.5rem;
  text-align: center;
}

.animeDisplay__card {
  grid-template-rows: auto;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row dense;
}
