.navBar {
  background: var(--primary);
  padding: 10px 0;
  z-index: 1000;
  width: 100%;
  position: fixed;
}

.navBar__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar__logo p {
  font-size: 3rem;
  color: var(--light);
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  border: none;
  background: transparent;
  color: var(--light);
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.btn:hover {
  background-color: var(--light);
  color: var(--primary);
  border-radius: 5px;
}
